.quadrado{
    display: block;
    height: 350px;
    width: 300px;
    margin-left: 480px;
    margin-top: 120px;
}
.imagem{
    height: 300px;
    width: 300px;
    align-items:center;
}
#Ligar{
  margin-left: 40px;
  width: 100px;
  height: 28px;

}
#Desligar{
    width: 100px; 
    height: 28px;
}
